.linha{
    display: flex;
}
.coluna{
    flex: 1;
}

div{
    background-color:rgb(47, 255, 47);
    margin: 1px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.tabaleiro{
    display: flexbox;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    border-radius: 10px;

}
main{
    display: grid;
    place-items: center;
    height: 700px;
}
header{
    border: 0cap;
    margin: 0%;
    width: 100%;
    height: 70px;
    background-color: black;
    text-align: center;
    color: white;
    justify-content: center;
    margin-bottom: 30px;
}
body{
    margin: 0%;
    background-color: black;
}
#um{
    background-color: blueviolet;
}
